{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1 class="text-dark p-2 fw-light bg-white text-center mb-5">About Underground</h1>
            <p class="text-dark fs-5 p-2 fw-light bg-white ms-5 me-5 text-center">Our platform has paved the way to easily allow artists to build their network with clients all over the world. Artists now have the opportunity to sale their artwork directly with anyone. Artist can choose how much they would like to sell their artwork for or use the profit calculator to help them plan how much their artwork is worth based on the time and money put into their project. With a simple click, artists are able to copy their profile link and share it amongst anyone they would like. Anytime an arist posts their artwork in their portfolio, it is also being posted and then displayed on our Home page which allows others to come across your artwork from just exploring! Please let us know if there is anything we can do to make your experience as a shopper or artists even better!</p>
        </div>
        <div class="col-5">
            <h1 class="text-dark p-2 fw-light bg-white text-center ">Contact Us</h1>
            <div class="card mb-5 border border-white  ">
                <div class="card-body">
                    <form action="" method="post" class="">
                        {{ form.csrf_token }}
                            {{ form.name.label (class="ms-5 mt-2")}}
                            {{ form.name(class='form-control rounded-pill border border-secondary mt-2 ms-5', style='max-width: 350px; ') }}

                            {{ form.number.label (class="ms-3 mt-2 ms-5")}}
                            {{ form.number(class='form-control rounded-pill border border-secondary mt-2 ms-5', style='max-width: 350px;', placeholder='000-000-0000') }}

                            {{ form.question.label (class="ms-3 mt-2 ms-5")}}
                            {{ form.question(class='form-control rounded-pill border border-secondary mt-2 ms-5', style='max-width: 350px;'  ) }}

                            {{ form.submit(class='btn btn-dark w-50 m-3 rounded-pill p-3 mt-4 ms-5 center')}}

                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
