{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block header %}
    <h1 class="text-dark fw-lighter fs-1 mt-4">Edit Your Information For:</h1>
         <h4 class="text-dark fw-lighter mt-4"><em>{{ art.title }}</em></h4>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-7">
        <div class="card mb-5 border border-white ps-5">
            <div class="card-body">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="row ms-1">
                        <h4 class="mb-4 text-dark fw-light fs-6">Make Changes:</h4>
                        {{ form.title.label (class="ms-1") }}
                        {{ form.title(class="form-control rounded-4 border border-secondary mt-2" ) }}
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 mb-2 mt-2 me-3">
                            {{ form.width.label (class="ms-3")}}
                            {{ form.width(class="form-control rounded-4 border border-secondary mt-2") }}
                        </div>
                        <div class="col-1 mt-4">
                            <p>X</p>
                        </div>
                        <div class="col-3 mb-2 mt-2">
                            {{ form.height.label (class="ms-3")}}
                            {{ form.height(class="form-control rounded-4 border border-secondary mt-2") }}
                        </div>
                    </div>
                    <div class="row ms-1 mt-3">
                        {{ form.description.label (class="ms-1")}}
                        {{ form.description(class="form-control rounded-4 border border-secondary mt-2") }}
                    </div>

                    <div class="row ms-1 mt-3">
                        {{ form.price.label (class="ms-1")}}
                        {{ form.price(class="form-control rounded-4 border border-secondary mt-2", placeholder="Numbers Only") }}
                    </div>
                    <div class="row justify-content-center">
                        {{ form.submit(class="btn btn-dark w-50 m-3 mt-5 rounded-4 p-3 mt-2 ", value="Edit Post") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
