{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1 class="text-dark fs-3 p-2 fw-light bg-white ">Bringing Beautiful Artwork to Light</h1>

{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap ms-5">
        {% for art in arts %}
                    <div class="m-3 card mb-3 border border-white " style="max-width: 200px;">
                        <div class="row ">
                            <div class="card-body ">
                                <a href="/profile/{{ art.artist.username }}" class=" p-0 card-text  fs-5 fw-light test-dark btn btn-white btn-outline-white ">@{{ art.artist.username }}</a>

                                <span><h5 class="card-title">{{ art.title }}</h5></span>
                                <span><h6 class="card-text text-muted mt-3 fw-light">{{ art.artist.date_created }}</h6></span>
                                <span class="card-text"><em>{{ art.description }}</em></span><br>
                                <span class="card-text">Size: <em>{{ art.width }} X {{ art.height }}</em></span><br>
                                <span class="card-text">Price: <em>${{ art.price }}</em></span>
                            </div>
                        </div>
                        <div class="row g-0">
                                <img class="card-img-top rounded-3" style="width: 350px; max-height: 150px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" type="button"  data-bs-toggle="modal" data-bs-target="#showArtModal-{{ art.art_id }}"  alt="random">
                        </div>
                        <div>
                            {% if art.user_id != current_user.id %}
                                 <a href="{{ url_for('order', product_id=art.art_id) }}" class=" w-100 btn btn btn-success text-white p-1 fs-6 pe-3 ps-3 rounded-bottom"><strong>BUY NOW</strong></a>

                            {% endif %}
                        </div>
                    </div>
                    <div class="modal fade"  tabindex="-1" id="showArtModal-{{ art.art_id }}">
                        <div class="modal-dialog">
                          <div class="modal-content" style="width: 540px; max-height: 460px;">
                            <div class="modal-body">
                                <img class="card-img-top rounded-3 " style="width: 500px; max-height: 350px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" alt="random">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class=" btn-outline-white btn btn-white text-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

        {% endfor %}
    </div>
{% endblock %}
