{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block header %}
    <h1 class="text-dark fw-lighter fs-1 mt-4"><strong>@</strong>{{ username }}</h1>>
    <button class=" btn btn-dark text-white p-2 mt-4" onclick="copyContent()" >Share Portfolio</button>

        {% if arts.user_id == current_user.id %}
            <button type="button" class="btn btn-success">Messages</button>
        {% endif %}




    <script>
        async function copyContent() {
            try {
                await navigator.clipboard.writeText('http://127.0.0.1:5000/profile/{{ username }}');
                console.log('Content copied to clipboard');
                alert(("You have copied the link "))

            } catch (err) {
                console.error('Failed to copy: ', err);
            }
            }
    </script>

{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap ms-5">

        {% for art in arts %}
                {% if art.user_id == current_user.id %}

                    <div class="m-3 card mb-3 border border-white " style="max-width: 200px;">

                        <div class="row ">
                                <div class="card-body">
                                    <a href="/profile/{{ art.artist.username }}" class=" p-0 card-text  fs-5 fw-light test-dark btn btn-white btn-outline-white ">@{{ art.artist.username }}</a>

                                    <span><h5 class="card-title">{{ art.title }}</h5></span>
                                    <span><h6 class="card-text text-muted mt-3 fw-light">{{ art.artist.date_created }}</h6></span>
                                    <span class="card-text"><em>{{ art.description }}</em></span><br>
                                    <span class="card-text">Size: <em>{{ art.width }} X {{ art.height }}</em></span><br>
                                    <span class="card-text">Price: <em>${{ art.price }}</em></span><br>
                                        <button type="button" class="btn btn-outline-danger text-danger text-center p-1 me-3 mt-2" data-bs-toggle="modal" data-bs-target="#deleteArtModal-{{ art.art_id }}">Delete</button>
                                        <a href="{{ url_for('edit_art', art_id=art.art_id) }}" class="btn btn-border-secondary text-secondary text-center btn-outline-secondary p-1 mt-2">Edit</a>

                                </div>
                        </div>
                        <div class="row g-0">
                                <img class="card-img-top rounded-3" style="width: 350px; max-height: 150px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" type="button"  data-bs-toggle="modal" data-bs-target="#showArtModal-{{ art.art_id }}" alt="random">
                        </div>
                    </div>

                    <div class="modal fade " id="deleteArtModal-{{ art.art_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h1 class="modal-title fs-6 fw-lighter" id="exampleModalLabel">Are you sure you would like to delete "{{ art.title }}"?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body ">
                                    <img class="card-img-top rounded-3 " style="width: 350px; max-height: 190px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" alt="random">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class=" btn-outline-white btn btn-white text-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ url_for('delete_art', art_id=art.art_id) }}" class="btn btn-white btn-outline-white link-danger">Delete</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade"  tabindex="-1" id="showArtModal-{{ art.art_id }}">
                        <div class="modal-dialog">
                          <div class="modal-content" style="width: 540px; max-height: 460px;">
                            <div class="modal-body">
                                <img class="card-img-top rounded-3 " style="width: 500px; max-height: 350px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" alt="random" >
                            </div>
                            <div class="modal-footer">
                                <button type="button" class=" btn-outline-white btn btn-white text-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {% else %}
                    {% if art.user_id == profile.id %}
                        <div class="m-3 card mb-3 border border-white" style="max-width: 200px;">
                            <div class="row ">
                                <div class="card-body ">
                                    <a href="/profile/{{ art.artist.username }}" class=" p-0 card-text  fs-5 fw-light test-dark btn btn-white btn-outline-white ">@{{ art.artist.username }}</a>

                                    <span><h5 class="card-title">{{ art.title }}</h5></span>
                                    <span><h6 class="card-text text-muted mt-3 fw-light">{{ art.artist.date_created }}</h6></span>
                                    <span class="card-text"><em>{{ art.description }}</em></span><br>
                                    <span class="card-text">Size: <em>{{ art.width }} X {{ art.height }}</em></span><br>
                                    <span class="card-text">Price: <em>${{ art.price }}</em></span>
                                </div>
                            </div>
                            <div class="row g-0">
                                    <img class="card-img-top rounded-top" style="width: 350x; max-height: 150px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" type="button"  data-bs-toggle="modal" data-bs-target="#showArtModal-{{ art.art_id }}"  alt="random">
                            </div>
                            <div>
                                {% if art.user_id != current_user.id %}
                                    <a href="{{ url_for('order', product_id=art.art_id) }}" class=" w-100 btn btn btn-success text-white p-1 fs-6 pe-3 ps-3 rounded-bottom"><strong>BUY NOW</strong></a>

                                {% endif %}
                            </div>
                        </div>

                        <div class="modal fade"  tabindex="-1" id="showArtModal-{{ art.art_id }}">
                            <div class="modal-dialog">
                              <div class="modal-content" style="width: 540px; max-height: 460px;">
                                <div class="modal-body">
                                    <img class="card-img-top rounded-3 " style="width: 500px; max-height: 350px;" src="{{ url_for('static', filename='/uploads/{}'.format(art.image)) }}" alt="random">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class=" btn-outline-white btn btn-white text-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
