{% extends 'base.html' %}

{% block title %} Profit{% endblock %}

{% block header %}
    <h1 class="text-dark fw-light fs-1 me-5">Profit Calculator</h1>
{% endblock %}

{% block content %}

    <div class="row justify-content-center">

            <div class="card mb-5 border border-light justify-content-end" style='max-width: 400px;'>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.csrf_token }}
                        <div class="row">
                            {{ form.hours.label (class="mt-2")}}
                            {{ form.hours(class='form-control rounded-pill border border-secondary mt-2 ', style='max-width: 350px; ') }}

                            {{ form.hours_worth.label (class="mt-2")}}
                            {{ form.hours_worth(class='form-control rounded-pill border border-secondary mt-2 ', style='max-width: 350px;') }}

                            {{ form.supply.label (class=" mt-2 ")}}
                            {{ form.supply(class='form-control rounded-pill border border-secondary mt-2 ', style='max-width: 350px;'  ) }}
                        </div>
                        <div class="row">
                            {{ form.submit(class="btn btn-dark mt-5 rounded-4 p-3", style='max-width: 350px;') }}
                        </div>
                    </form>
                </div>
            </div>

    </div>
{% endblock %}
