{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block header %}
    <h1 class="text-dark fw-light fs-1">Sign Up</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mb-5 border border-white ps-5">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-5 mb-2 ms-5 mt-2">
                                {{ form.first_name.label (class="ms-3") }}
                                {{ form.first_name(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                            <div class="col-5 mt-2 mb-2" >
                                {{ form.last_name.label (class="ms-3")}}
                                {{ form.last_name(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                        </div>
                        <div class="row  mt-2 mb-2 ms-5 col-10">
                            {{ form.address.label (class="ms-2")}}
                            {{ form.address(class="form-control rounded-pill border border-secondary mt-2") }}
                        </div>
                        <div class="row ">
                            <div class="col-5 mt-2 mb-4 ms-5">
                                {{ form.city.label (class="ms-3")}}
                                {{ form.city(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                            <div class="col-3 mt-2 mb-4">
                                {{ form.state.label (class="ms-3")}}
                                {{ form.state(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                            <div class="col-2 mt-2 mb-4">
                                {{ form.zipcode.label (class="ms-3")}}
                                {{ form.zipcode(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5 mb-2 ms-5">
                                {{ form.email.label (class="ms-3")}}
                                {{ form.email(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                            <div class="col-5 mb-2" >
                                {{ form.username.label (class="ms-3")}}
                                {{ form.username(class="form-control rounded-pill border border-secondary mt-2") }}
                        </div>
                        <div class="row">
                            <div class="col-5 mt-2 mb-2 ms-5">
                                {{ form.password.label (class="ms-3")}}
                                {{ form.password(class="form-control rounded-pill border border-secondary mt-2") }}
                            </div>
                            <div class="col-5 mt-2 mb-2 ms-3" >
                                {{ form.confirm_pass.label (class="ms-3")}}
                                {{ form.confirm_pass(class="form-control rounded-pill border border-secondarymt-2") }}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5 mb-5">
                            {{ form.submit(class="btn btn-dark w-50 m-3 rounded-pill p-3") }}
                            <p class="text-center">Already have an account? <a class="link-secondary" href="/login">Log In</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
