{% extends 'base.html' %}

{% block title %}Thank You{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="card " style="width: 40rem;">
            <div class="card-body text-center  p-5">
                <h1 class="card-title text-dark fs-3 p-2 fw-light bg-white">Thank You for Purchasing Artwork from <br>underground</h1>
                <h4 class="card-subtitle mb-2 text-body-secondary"></h4>
                <a href="/" class="card-text btn btn-dark text-white fw-light m-5">Go Back Home</a>
            </div>
        </div>
    </div>
{% endblock %}
